html {
    height: 100%;
}

body {
    /* background-color: #efefef;*/
    background-image: url('https://raw.githubusercontent.com/gambogi/CSHMembersPortal/master/images/background.png');
    height: 100%;
}

.main-container {
    padding-top: 15px;
    border-top: 5px solid #E50565;
    display: table;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-content {
        display: table-cell; 
        vertical-align: middle;
        padding-bottom: 100px;
    }
}

.center-text {
    text-align: center;
}

.btn, .form-control {
    transition: background-color .25s;
}

.form-control, .btn, .panel {
    border-width: 0px;
    box-shadow: none;
}

.panel.panel-default {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

.btn.btn-primary {
    background-color: #9D4799;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #E50565;
}

.btn.btn-primary:hover {
    background-color: #8A4186;
}

.form-control {
    background-color: #eee;
}

.form-control:focus {
    box-shadow: none;
    background-color: #fff;
}