/**
 * CSH-Login Light Theme
 * @author Ben Grawi <bgrawi@csh.rit.edu>
 * @description A simple and clean light theme
 */

body {
    background-image: url('../images/background.png');
}

.main-container {
    border-top: 5px solid #9D4799;
    border-bottom: 5px solid #E50565;
}



.login-panel{
	background:#FAFAFA;
	padding-top:10px;
	padding-left: 20px;
	padding-right:20px;
	padding-bottom:10px;
	border-radius: 10px;
	border: 1px solid #DEDEDE;
}
@media (min-width:768px){
.select-style{
	background: #FAFAFA url("../images/arrowup.gif") no-repeat 90% 50%;
	border: 1px solid #DEDEDE;
	background:;
	
}
}
@media (max-width:767px){
.login-panel{
	margin:auto;
	max-width:400px;
	padding-left:15px;
	padding-right:15px;	
}	
.select-style{
	background:#FAFAFA url("../images/arrowdown.gif") no-repeat 90% 50%;
	border: 1px solid #DEDEDE;
	
	
}
}

.form-control {
    background-color: #ebebeb;
    border: 1px solid transparent;
}

.form-control:focus {
    background-color: #fff;
	border: 1px solid #ddd;
}

.csh-logo {
    background-image: url('../images/CSH_logo_dark.svg');
}
