/**
 * CSH-Login originalphoto Theme
 * @author Ben Grawi <bgrawi@csh.rit.edu>
 * @description Reed.
 */

body {
    background-color: #333;
    background-image: url('https://webauth.csh.rit.edu/images/reedoriginal.png');
    background-size: cover;
    color: #EEE;
}

.main-container {
    border-top: 5px solid #9D4799;
    border-bottom: 5px solid #E50565;
}

.login-panel {
    background-color: rgba(0, 0, 0, .7);
	padding-top:10px;
	padding-left: 20px;
	padding-right:20px;
	padding-bottom:30px;
	border-radius: 10px;
}
@media (max-width:767px){
.login-panel{
	margin:auto;
	max-width:400px;
	padding-left:15px;
	padding-right:15px;	
}	
}
.btn.btn-primary{

	background-color:rgba(157,71,153,.8);
}
.btn.btn-primary:hover,
.btn.btn-primary:focus{
	background-color:rgba(138,65,134,.85);
	
}
.form-control {
	background-color: rgba(51, 51, 51, .8);
    color: #EEE;
}

.form-control:focus {
    background-color: rgba(68,68,68, .85);
}

.ThemeSwitcher-buttons .btn {
    color: #EEE;
    background: #fff;
    background: rgba(255, 255, 255, .1);
}

.ThemeSwitcher-buttons .btn:hover {
    background: rgba(255, 255, 255, .2);
}

.ThemeSwitcher-buttons .btn:focus, .ThemeSwitcher-buttons .btn.active {
    box-shadow: none;
    background: rgba(255, 255, 255, .3);
}
@media (max-width:767px){
.ThemeSwitcher-buttons .btn {
    color: #EEE;
    background: #fff;
    background: rgba(51, 51, 51, .35);
}
.ThemeSwitcher-buttons .btn:hover {
    background: rgba(165,165,165,.35);
}

.ThemeSwitcher-buttons .btn:focus, .ThemeSwitcher-buttons .btn.active {
    box-shadow: none;
    background: rgba(165,165,165,.35);
}
}
.csh-logo {
    background-image: url('../images/CSH_logo_light.svg');
}