html {
    height: 100%;
}

body {
    background-image: url('../assets/background.png');
    height: 100%;
}

.main-container {
    border-top: 5px solid #9D4799;
    display: table;
    height: 100%;
    width: 100%;
}

.main-content {
    border-top: 5px solid #E50565;
}

@media screen and (min-width: 768px) {
    .main-content {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 767px) {
    .main-content {
        padding-top: 15px;
    }
}

.csh-logo {
    width: 150px;
    margin: 0 auto 15px auto;
    font-size: 18px;
    line-height: 1.25em;
}

.csh-logo img {
    height: 60px;
    width: auto;
    float: left;
    padding-right: 6px;
    margin-top: 3px;
}

.center-text {
    text-align: center;
}

.btn, .form-control {
    transition: background-color .25s;
}

.form-control, .btn, .panel {
    border-width: 0px;
    box-shadow: none;
}

.panel.panel-default {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.btn.btn-primary {
    background-color: #9D4799;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #E50565;
}

.btn.btn-primary:hover {
    background-color: #8A4186;
}

.form-control {
    background-color: #ebebeb;
}

.form-control:focus {
    box-shadow: none;
    background-color: #fff;
}
