<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<META http-equiv="refresh" content="0;[% return_url FILTER html %]">

		<title>Computer Science House Members Login</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/base.css">
		<link rel="stylesheet" href="/assets/themes/light.css" title="theme">

	</head>
	<body class="ThemeSwitcher-loading">
		<div class="main-container">
			<div class="main-content">
				<div class="container">
					<div class="row">
						<div class="login-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
							<div class="panel panel-default login-panel">
								<div class="panel-body">
									<div class="csh-logo">
										Computer<br> Science<br> House
									</div>
									
								<a class="btn btn-inverse btn-huge" style="text-align:center;" href="[% return_url FILTER html %]">Click here to continue...</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="selector-container">
					<select id="theme" class="select-style">
					  <option value="light">Light</option>
					  <option value="dark">Dark</option>
					  <option value="originalphoto">Original Photo</option>
					  <option value="console">Console</option>
					</select>
			</div>
		</div>
		<script src="/assets/script.js"></script>
	</body>
</html>
