<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript">
			window.location = "[% return_url FILTER html%]";
		</script>

		<title>Computer Science House Members Login</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/base.css">
		<link rel="stylesheet" href="/assets/themes/light.css" title="theme">

	</head>
	<body class="ThemeSwitcher-loading">
		<div class="main-container">
			<div class="main-content">
				<div class="container">
					<div class="row">
						<div class="login-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
							<div class="panel panel-default login-panel">
								<div class="panel-body">
									<div class="csh-logo">
										Computer<br> Science<br> House
									</div>
									
								<a class="btn btn-inverse btn-huge" style="text-align:center;" href="[% return_url FILTER html %]">Click here to continue...</a>
								    [% IF show_remuser %]
								      <div class="remuserbox" align="center">
									<form action="[% script_name FILTER html %]" method="post"
									      enctype="application/x-www-form-urlencoded">
									  <input type="hidden" name="rm" value="edit_remoteuser">
									  <input type="hidden" name="return_url"
										 value="[% return_url FILTER html %]">
									  <input type="hidden" name="username"
										 value="[% username FILTER html %]">
									  [% IF login_cancel %]
									    <input type="hidden" name="cancel_url"
										   value="[% cancel_url FILTER html %]">
									  [% END %]
									  <table border="1" width="70%">
									    <tr>
									      <td>
										[% IF remuser %]
										  <input type="checkbox" name="remuser" checked>
										[% ELSE %]
										  <input type="checkbox" name="remuser">
										[% END %]
									      </td>
									      <td>
										<input type="submit" name="Submit" value="Change Setting">
									      </td>
									      <td>
										Check this box to always attempt to use your computer
										login information in the future.
									      </td>
									    </tr>
									  </table>
									</form>
								      </div>
								    [% END %]

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="selector-container">
					<select id="theme" class="select-style">
					  <option value="light">Light</option>
					  <option value="dark">Dark</option>
					  <option value="originalphoto">Original Photo</option>
					  <option value="console">Console</option>
					</select>
			</div>
		</div>
		<script src="/assets/script.js"></script>
	</body>
</html>
