<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Computer Science House Members Login</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/base.css">
		<link rel="stylesheet" href="/assets/themes/light.css" title="theme">

	</head>
	<body class="ThemeSwitcher-loading">
		<div class="main-container">
			<div class="main-content">
				<div class="container">
					<div class="row">
						<div class="login-content col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
							<div class="panel panel-default login-panel">
								<div class="panel-body">
									<div class="csh-logo">
										Computer<br> Science<br> House
									</div>
									
									<p><strong>Logout complete.</strong></p>
									<p>Your Webauth cookie has been deleted. However if you are logged into multiple sites, you may continue to be
										logged into sites other than the one you explicitly logged out of for a period of time.</p>
									<p>To ensure complete logout from all Webauth sites, either clear cookies or close your browser.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="selector-container">
					<select id="theme" class="select-style">
					  <option value="light">Light</option>
					  <option value="dark">Dark</option>
					  <option value="originalphoto">Original Photo</option>
					  <option value="console">Console</option>
					</select>
			</div>
		</div>
		<script src="/assets/script.js"></script>
	</body>
</html>
